.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerShadow {
  position: fixed;
  top: 0;
  left: 325px;
  right: 0;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-right: 1px solid #ddd;
  z-index: 999;
  pointer-events: none;
  transition: left 0.3s ease;
}

@media (max-width: 768px) {
  .headerShadow {
    left: 0;
  }
}
