@import "./styles/global.css";
@import "./styles/variables.css";

/* Chrome, Safari, Edge, Opera */
.sidebar-search::placeholder {
  font-style: italic;
  font-family: "HoneywellSans-MediumItalic";
  transform: translateY(1.5px);
  letter-spacing: 0.75px;
}

/* Firefox */
.sidebar-search::-moz-placeholder {
  font-style: italic;
  font-family: "HoneywellSans-MediumItalic";
  transform: translateY(1.5px);
  letter-spacing: 0.75px;
}

/* Internet Explorer 10-11 */
.sidebar-search:-ms-input-placeholder {
  font-style: italic;
  font-family: "HoneywellSans-MediumItalic";
  transform: translateY(1.5px);
  letter-spacing: 0.75px;
}

/* Microsoft Edge (Legacy) */
.sidebar-search::-ms-input-placeholder {
  font-style: italic;
  font-family: "HoneywellSans-MediumItalic";
  transform: translateY(1.5px);
  letter-spacing: 0.75px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 0 30px;
  background-color: #fff;
  box-shadow: none;
}

.header-shadow {
  position: fixed;
  top: 0;
  left: 325px;
  right: 0;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-right: 1px solid #ddd;
  z-index: 999;
  pointer-events: none;
}

.header img {
  height: 30px;
  transform: translateY(1.5px);
}

.vertical-line {
  border-left: 2px solid gray;
}

/* Sidebar + Content */

.header h1 {
  margin-left: 20px;
}

.tagline {
  padding: 7px 0 7px 15px !important;
  margin-left: 15px !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px !important;
  line-height: normal !important;
}

.logo-tagline {
  display: flex;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);
  width: 325px;
  min-width: 325px;
  padding: 15px;
  background-color: #fff;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;

  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.25);
  padding-bottom: 0px;
}

.sidebar-header {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 2;

  border-bottom: 1px solid #eee;
}

.sidebar h2 {
  font-size: 12px;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
}

.sidebar li {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 40px;
  height: 100%;
  margin-top: 100px;
}

.content h1 {
  margin-top: 40px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

h1 strong {
  font-weight: inherit;
}

h2 strong {
  font-weight: inherit;
}

h3 strong {
  font-weight: inherit;
}

.content p {
  font-size: 18px;
}

.active {
  color: #0077cc;
}
.sidebar a {
  text-decoration: none;
  color: #303030;
  display: block;
  padding: 5px 0;
}
.sidebar a:hover {
  text-decoration: underline;
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  background: none;
  border: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
  color: #444;
  width: 100%;
  padding: 6px 12px;
  border-radius: 4px;

  white-space: normal;
  line-height: 1.4;
}

.sidebar-link:hover {
  color: var(--primary-blue-hover);
}

.sidebar-link.active {
  border-left: 4px solid var(--primary-blue);
  font-family: "HoneywellSans-Black";
}

.sidebar-search {
  width: 245px;
  padding: 10px 10px 10px 36px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 14px;
  font-family: "HoneywellSans-Medium";
  font-style: italic;
}

.search-icon-inside {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
  opacity: 0.6;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.search-container {
  position: relative;
  width: 100%;
}

.clear-search {
  position: absolute;
  top: 40%;
  right: 1px;
  transform: translateY(-35%);
  background: none;
  border: none;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-search:hover {
  color: var(--primary-red);
}

.clear-search:hover {
  color: var(--primary-red);
}

.search-icon {
  z-index: 1000;
  position: absolute;
  display: inline-block;
  top: 100px;
  left: 50px;
  color: gray;
}

mark {
  background-color: #ffdddd;
  padding: 1px 2px;
  border-radius: 2px;
}

.main-with-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tab-bar {
  display: flex;
  gap: 8px;
  padding: 12px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.tab-btn {
  background: #eee;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.tab-btn.active {
  background-color: #ffd6d6;
  border-color: var(--primary-red);
  color: var(--primary-red);
  font-weight: bold;
}

/* Mobile View */

.sidebar-drawer {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.sidebar.drawer.open {
  transform: translateX(0);
}

.close-sidebar {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-left: auto;
  padding: 5px 10px;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.sticky-toggle {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #f9f9f9;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-toggle {
  display: none;
  background: var(--primary-red);
  color: white;
  border: none;
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.outside-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1003;
  background: var(--primary-red);
  color: white;
  border: none;
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.sticky-sidebar-top {
  position: sticky;
  top: 0;
  background: #f9f9f9;
  z-index: 10;
  padding: 10px 20px;
  border-bottom: none;
  display: flex;
  justify-content: flex-start;
}

.outside-toggle {
  display: none;
}

/* Tables */
.color-table {
  width: 100%;
  border-collapse: collapse;
}

.color-table td,
.color-table th {
  border: 2px solid #000;
  padding: 8px;
  vertical-align: top;
}

.color-table tr.zebra-even {
  background-color: #ffffff;
}

.color-table tr.zebra-odd {
  background-color: #f5f5f5;
}

.color-cell {
  font-weight: bold;
  width: 120px;
}

.color-cell.red {
  color: #ee0000;
}

.color-cell.amber {
  color: #ffc000;
}

.color-cell.blue {
  color: #4472c4;
}

.color-cell.white {
  color: #000;
}

.color-cell.green {
  color: #5bff09;
}

.color-cell.magenta {
  color: #cc00cc;
}

.color-cell.cyan {
  color: #00b0f0;
}

.color-cell.gray {
  color: #aeaaaa;
}

.alert-color {
  font-weight: bold;
}

.alert-color.red {
  color: #ee0000;
}

.alert-color.amber {
  color: #ffc000;
}

.alert-color.blue {
  color: #4472c4;
}

.alert-color.gray {
  color: #aeaaaa;
}

tr.crit-warning {
  background-color: #d32f2f !important;
}

tr.crit-warning td,
tr.crit-warning td p,
tr.crit-warning td span,
tr.crit-warning td strong {
  color: #ffffff !important;
}

tr.crit-caution {
  background-color: #fff176 !important;
}

tr.crit-caution td,
tr.crit-caution td p,
tr.crit-caution td span,
tr.crit-caution td strong {
  color: #000000 !important;
}

tr.crit-advisory {
  background-color: #64b5f6 !important;
}

tr.crit-advisory td,
tr.crit-advisory td p,
tr.crit-advisory td span,
tr.crit-advisory td strong {
  color: #000000 !important;
}

/* Images zoom */
.zoomable-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
  object-fit: contain;
  cursor: zoom-in;
  transition: transform 0.2s ease;
}

.zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  animation: fadeIn 0.2s ease-in-out;
}

.zoomed-img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar-scrollable {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
}

.sidebar-scrollable::-webkit-scrollbar {
  display: none;
}

.sidebar-footer {
  position: sticky;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px !important;
  color: gray;
  font-weight: 600;
  margin-top: 10px;
}

.subsection-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.subsection-wrapper.expanded {
  max-height: 500px;
}

.subsection-list {
  margin-left: 20px;
  padding-left: 0;
  list-style: none;
}

.sidebar-section {
  transition: background 0.2s;
}

@media (min-width: 768px) {
  .sticky-sidebar-top {
    display: none;
  }
}

@media (max-width: 767px) {
  .sticky-sidebar-top {
    display: flex;
  }
}
