.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-box {
  text-align: center;
}

.spinner {
  width: 50px;
  height: 50px;
  margin: 0 auto 1rem;
  border: 6px solid #ccc;
  border-top: 6px solid var(--primary-blue);
  border-radius: 50%;
  animation: spin-spinner 0.8s linear infinite;
}

.spinner-box p {
  font-size: 1rem;
  color: var(--foreground-color);
}

@keyframes spin-spinner {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 769px) {
  .spinner-overlay {
    left: 16rem;
    width: calc(100% - 16rem);
  }
}

@media (max-width: 768px) {
  .spinner-overlay {
    left: 0;
    width: 100%;
    height: calc(100% - 3.25rem);
  }
}
