.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 0 30px;
  background-color: #fff;
  box-shadow: none;
}

.logoTagline {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 30px;
  transform: translateY(1.5px);
}

.tagline {
  padding: 7px 0 7px 15px;
  margin: 0;
  border-left: 1px solid #ccc;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: normal;
  color: var(--primary-text-color);
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px 0 70px;
  }

  .logoTagline {
    justify-content: center;
    width: 100%;
  }

  .tagline {
    font-size: 14px;
    padding: 5px 0 5px 10px;
  }
}

@media (max-width: 480px) {
  .tagline {
    display: none;
  }

  .header {
    justify-content: center;
  }
}
