.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerShadow {
  height: 2px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  position: sticky;
  top: 80px;
  z-index: 99;
}

.layout {
  display: flex;
  flex: 1;
  position: relative;
}

.error,
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #666;
}

.error {
  color: #c33;
}
